.section-header {
    width: 100%;
    margin: 24px 0;

    h6 {
        text-transform: uppercase;
        color: #b0b8bc;
        font-size: 10px;
    }

    hr {
        border-top: 0.25px solid #b0b8bc;
    }
}