.hcard-builder-container {
    display: flex;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    flex: 50%;
    min-width: 420px;
    align-items: flex-start;
    padding: 30px;
  
    form {
      width: 100%;
  
      .form-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        .input-field {
          width: 48%;
        }
      }
    }
  }
  
  .preview-container {
    display: flex;
    flex-direction: column;
    flex: 50%;
    justify-content: center;
    min-width: 420px;
    background-color: #e1e4e7;
    padding: 30px;
  }
  
  @media only screen and (max-width: 960px) {
    .hcard-builder-container {
      flex-wrap: wrap
    }
  }
  